@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* External CSS */
* {
  font-family: "Raleway", sans-serif;
}

body {
  font-size: 14px;
}

html {
  scroll-behavior: smooth;
}

h3 {
  color: #13445E;
  text-decoration: underline;
  text-decoration-style: double;
}

p {
  font-size: 13px;
  font-family: 'Segoe UI', Tahoma, sans-serif;
}

li {
  font-size: 18px;
  font-weight: 100;
}

#meats {
  color: rgb(224, 92, 92);
}

#main-header {
  background-color: rgb(224, 245, 228);
}

.button {
  color: #ffffff;
  background-color: #b4663c;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, sans-serif;
  font-size: 13px;

  display: inline-block;
  padding: 5px 8px;
  border: none;
}

.button:hover {
  background-color: #e3ac8a;
  color: #3e3e3e;
}

.button:active {
  background-color: #587549;
  color: #ffffff;
}

input[type="text"]:hover {
  font-size: 40px;
}

input[type="text"]:focus {
  font-size: 30px;
}

nav {
  /* background-color: #b2cbfc; */
}

nav>.button {
  background-color: #1d3d08;
}

.small {
  font-size: smaller;
}

ul li ul .highlighted {
  color: #13445E;
}

body>header>div.shortcuts {
  border-bottom: 2px solid grey;
}

h1 {
  color: #b4663c;
}

#tmp-header {
  color: rgb(24, 145, 2);
  font-size: 18px;
}

.tmp-header-class {
  color: orange;
}

#about-header {
  font-family: "Protest Guerrilla", system-ui;
  font-weight: 400;
  font-style: normal;
}